/*  Eli Castillo
    Web and Distributed Programming
    Final Project css page
    12/6/20 */

h1{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: black}

body{background-color: yellow;}
